:root {
    /* Palette URL: http://paletton.com/#uid=5420K0kllllk3PDkFuDm0c2mC3O */
    --color-primary-0: #363377;
    --color-primary-1: #7069E4;
    --color-primary-2: #514CAA;
    --color-primary-3: #1E1B43;
    --color-primary-4: #090815;


    --color-gray-50: #FAFAFA;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #E0E0E0;
    --color-gray-400: #BDBDBD;
    --color-gray-500: #9E9E9E;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;

    --clr-primary-fg: var(--color-primary-4);
    --clr-primary-bg: #fff;
    --clr-table-header-bg: var(--color-primary-1);
    --clr-table-row-bg: var(--color-gray-200);

    --size-xs: 0.5em;
    --size-s: 0.8em;
    --size-m: 1em;
    --size-l: 1.5em;
    --size-xl: 2em;
    --size-xxl: 3em;
}



body {
    font-family: Open Sans, Roboto, sans-serif;
    color: var(--clr-primary-fg);
}

table {

    border: 1px solid var(--clr-primary-fg);
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--clr-primary-fg);
    padding: var(--size-xs);
}

th {
    background-color: var(--clr-table-header-bg);
}

td {
    background-color: var(--clr-table-row-bg);

}

tr:nth-of-type(even) {
    background-color: #eee;
}


td.discrepant {
    color: #fff;
    background-color: #ff0000;
}

td.sum {
    color: #00f;
}

.thumb {
    max-width: 150px;
}

.watermark {
    color: yellow;
    background-color: rgba(255, 0, 0, 0.5);
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    right: 5px;
}